// * {
//   outline: 1px solid cyan;
// }

section {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 2rem 0;
}

section#hero {
  flex: 1 0 50%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  > div {
    margin: 3rem 0;
  }
  h1 {
    font-size: 72px;
    max-width: 100%;
  }
  button {
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    color: #777;
    background: none;
    border: 1px solid #555;
  }
}

section.above-fold > article {
  flex: 1 1 450px;
}
section.below-fold > article {
  flex: 1 1 300px;
}

hr {
  clear: both;
  margin: 1rem 0;
  border: 1px solid #000;
}

article {
  padding-right: 1rem;
}

img.middle-img {
  width: 100%;
}

footer {
  p {
    margin: 0.3rem 0;
    &.phone-number {
      margin: 0.5rem 0;
    }
  }
  small {
    display: block;
    color: #777;
    font-size: 0.8rem;
    text-align: center;
  }
}
